<div class="background-profile container-fluid pt-4 ">

  <div class="jumbotron">
    <h1 class="display-4">Welcome To My Expenses!</h1>
    <p class="lead">Keep the record of all the expenses of your group</p>
    <hr class="my-4">
    <p>If you aleady have an account Sign In, if not Sign Up </p>
  </div>

  <div class="mx-3 my-4">
    <%= link_to "Sign in", new_user_session_path, class:"btn btn-success btn-block" %>
  </div>

  <div class="mx-3 my-4">
    <%= link_to "Sign up", new_user_registration_path, class:"btn btn-warning btn-block" %>
  </div>
  
</div>

