<h1>Profile #home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

  <%=image_tag(current_user.avatar.url(:thumb))%>

  <h2>Hello</h2>
  <h3><%=current_user.name %></h3>
  <h3>user_id:<%=current_user.id %></h3>

  <h3>All my transactions</h3>

  <h3>All my external transactions</h3>

 <h3>All groups</h3>

