<div class="background-profile container-fluid ">

  <div class="container-fluid pt-4 mt-4">
    <div class="row">
      <div class="col-12  d-flex justify-content-center mt-4">
        <%=image_tag(current_user.avatar.url(:thumb))%>
      </div>

      <div class="col-12  d-flex justify-content-center">
        <p class="display-4 text-white"><%=current_user.name%></p>
      </div>

      <div class="col-2  d-flex justify-content-center align-items-center mt-4 mb-4">
        <span class="border border-white rounded-circle"><i class="fas fa-file-invoice-dollar display-3 text-white mx-4 my-3 "></i></span> 
      </div>
      <div class="col-10  d-flex justify-content-start align-items-center border-bottom border-white">
        <a href="/transactions" class="display-4 m-1">My expenses</a>
      </div>
    
      <div class="col-2  d-flex justify-content-center align-items-center mt-4 mb-4">
        <span class="border border-white rounded-circle"><i class="fas fa-file-invoice-dollar display-3 text-white mx-4  my-3 "></i></span> 
      </div>
      <div class="col-10  d-flex justify-content-start align-items-center border-bottom border-white">
        <a href="/etransactions" class="display-4 m-1">Non grouped expenses</a>
      </div>

      <div class="col-2  d-flex justify-content-center align-items-center mt-4 mb-4">
        <span class="border border-white rounded-circle"><i class="fas fa-file-invoice-dollar display-3 text-white mx-4 my-3 "></i></span> 
      </div>
      <div class="col-10  d-flex justify-content-start align-items-center border-bottom border-white">
        <a href="/groups" class="display-4 m-1">Groups</a>
      </div>

      <div class="col-2  d-flex justify-content-center align-items-center mt-4 mb-4">
        <span class="border border-white rounded-circle"><i class="fas fa-file-invoice-dollar display-3 text-white mx-4 my-3 "></i></span> 
      </div>
      <div class="col-10  d-flex justify-content-start align-items-center border-bottom border-white">
        <a href="/memberstransactions" class="display-4 m-1">Members expenses</a>
      </div>
    </div>
  </div>
</div>

